<div class="background-project">
  <div class="user-edit">


  <div class="project-runner">
    <div class="container">
        <h2></h2>
        <div class="menue group">
            <ul>
            <li class="float-left" ><a class="new-menu-box" id="basic-info-new-project">Basic Info</a></li>
            <li class="float-left" ><a class="new-menu-box" id="reward-info-new-project">Rewards</a></li>
            <li class="float-left" ><a class="new-menu-box" id="story-info-new-project">Story</a></li>
            <li class="float-left" ><a class="new-menu-box" id="about-info-new-project">About You</a></li>

            </ul>
        </div>

    </div>

  </div>

  <div class="project-main group">

    <div class="project-body group">

<h1>Change your Settings</h1>

<form class="update-settings-form">
  <image class="user-image-edit" src="<%= user.escape("that_url") %>">
  <label for="photo">Upload Your Picture</label>

  <input type="file" class="my-photo-upload" id="photo">

  <input type="hidden" name="user[id]" value="<%= KS.currentUserId %>">
  <input type="hidden" name="user[user_id]" value="<%= KS.currentUserId %>">
  <label for="email">Email</label>

  <input type="text" name="user[email]" id="eamil" value="<%= user.escape('email') %>">

  <!-- <label for="pass">Password</label>

  <input type="password" name="user[password]" id="pass" value="can't change password yet"> -->

  <label for="username">Name</label>

  <input type="text" name="user[username]" id="username" value="<%= user.escape('username') %>">

  <label for="bio">Biography</label>

  <textarea name="user[bio]" id="bio"><%= user.escape('bio') %></textarea>

    <!-- upload pic -->


  <a href="http://google.com" class="submit">Save Settings</a>
</form>
</div>

<div class="right-container">


</div>



</div>
</div>
