<div class="background-project">
  <div class="user-edit">


  <div class="project-runner">
    <div class="container">
        <h2></h2>
        <div class="menue group">
            <ul>
            <li class="float-left highlight" ><a class="new-menu-box" id="basic-info-new-project">Basic Info</a></li>
            <li class="float-left" ><a class="new-menu-box" id="reward-info-new-project">Rewards</a></li>
            <li class="float-left" ><a class="new-menu-box" id="story-info-new-project">Story</a></li>
            <li class="float-left" ><a class="new-menu-box" id="about-info-new-project">About You</a></li>

            </ul>
        </div>

    </div>

  </div>

  <div class="project-main group">

    <div class="project-body group">

<%= project.escape('duration') %>

<form class="update-settings-form form" data-id="basic">

  <label for="photo">Upload a project picture</label>
  <br>
  <input type="file" class="my-photo-upload" id="photo">
  <input type="hidden" name="project[user_id]" value="<%= window.currentUserId %>">
  <br>
  <label for="title">Title</label>
  <br>
  <input type="text" name="project[title]" id="title" value="<%= project.escape('title') %>">
  <br>
  <leabel for="description">Shrot blurb</leabel>
  <br>
  <textarea id="description" name="project[description]"><%= project.escape('description') %></textarea>
  <br>
  <leabel for="cat">Catagory</leabel>
  <br>
  <!-- <input type="text" name="project[catagorie]" id="cat"> -->
  <select name="project[catagory_id]" id="cat">
    <% catagories.forEach( function(cat){ %>
      <% if (project.escape('catagory_id') === cat) { %>
      <option  <%= selected %>><%= cat %></option>

        <% } %>

    <% });  %>
  </select>
  <br>
  <leabel for="duration">Funding Duration</leabel>
  <br>
  <input type="text" name="project[duration]" id="duration" value="<%= project.escape('duration') %>">
  <br>
  <leabel for="goal">Funding Goal</leabel>
  <br>
  <input type="text" name="project[fundinggoal]" id="goal" value="<%= project.escape('fundinggoal') %>">
  <br>
  <button id="project-button-save" class="submit" >Save</button>
</form>


  <button id="project-button-save" class="submit">Next</button>


</div>

<div class="right-container">


</div>



</div>
</div>
