
  <li>
    <div class="container">
      <image class="user-image" src="<%= user.get('that_url') %>">
        <div class="user-container">
          <% if (typeof user !== 'undefined') { %>
          <h2><%= user.escape('username') %></h2>
          <p>Backed <%= user.escape('number_of_backed_projects') %> projects - joined <%= user.escape('joined') %></p>
          <p><%= user.escape('bio') %></p>
          <% } %>
      </div>
    </div>

  </li>
