<div class="background-project">
  <div class="user-edit">


  <div class="project-runner">
    <div class="container">
        <h2><%= project.escape('title') %></h2>
        <a href="">by <%= project.escape('username') %></a>
    </div>

  </div>

  <div class="project-main group">
    <a href="#/catagory/<%= project.escape('catagory_id') %>" class="cat-in-project-show" >
      <i class="fa fa-tag fa-flip-horizontal"></i>
      <%= project.escape("catagory_id") %>
    </a>


    <div class="project-body group">
    

    </div>

      <div class="right-container">
        <br>
        <h1><%= project.escape('number_of_backers') %> </h1>
        <p>Backers</p>
        <br>
        <h1>$<%= project.escape('amt_pledged') %> </h1>
        <p>pledged of a $<%= project.escape("fundinggoal") %> goal</p>
        <br>

        <h1><%= project.escape("duration") %></h1>
        <p>Days to go</p>

        <div class="user-blurb-in-project">
        </div>

        <div class="rewards-in-project">
        </div>
      </div>



  </div>
</div>
