<div class="background-project">
  <div class="user-edit">


  <div class="project-runner">
    <div class="container">
        <h2></h2>
        <div class="menue group">
            <ul>
            <li class="float-left" ><a class="new-menu-box" id="basic-info-new-project">Basic Info</a></li>
            <li class="float-left" ><a class="new-menu-box" id="reward-info-new-project">Rewards</a></li>
            <li class="float-left" ><a class="new-menu-box" id="story-info-new-project">Story</a></li>
            <li class="float-left" ><a class="new-menu-box" id="about-info-new-project">About You</a></li>

            </ul>
        </div>

    </div>

  </div>

  <div class="project-main group">



    <form class="update-settings-form project-story-form">
      <image class="user-image-edit" src="<%= project.escape("that_url") %>">
      <label for="photo">Upload Your Picture</label>

      <input type="file" class="my-photo-upload" id="photo">
      <input type="hidden" name="story[project_id]" value="<%= project.escape('id') %>">
      <input type="hidden" name="story[id]" value="<%= story.escape('id') %>">
        <br>
      <label for="description">Description</label>
        <br>
      <textarea name="story[story]" id="description"><%= story.escape('story') %></textarea>
        <br>
      <label for="challenge">Challenges</label>
        <br>
      <textarea name="story[challenges]" id="challenge"><%= story.escape('challenges') %></textarea>
        <br>

        <a href="" class="save-story-next submit">Save Settings</a>
    </form>


</div>

<div class="right-container">


</div>



</div>
</div>
