<dive class="reward-project">
  <form action="<%= claimed_rewards_url %>">
    <input type="hidden" name="claimed[project_id]" value="<%= project.id %>">
    <input type="hidden" name="claimed[user_id]" value="<%= user.id %>">
  <h3>reward</h3>
  <p>pledge $<%= reward.pledge_amt %></p>
  <p> Backers</p>
  <p>Desription</p>
  <p><%= reward.description %></p>
  </form>
</dive>