<div class="group header">

  <a href="<%= users_url %>" class="title">KickStarter</a>
  <a href="<%= catagories_url %>" class="discover-start">Discover</a>
  <a href="<%= new_project_url %>" class="discover-start">Start</a>

  <% if logged_in? %>
  <div class="user-tab">Me</div>
  <div class="user-info-header-dropdown">
     <%= render "shared/bio_new_or_edit_link" %>
     <p>Your are signed in as: <%= current_user.user_bio.nil? ? "Guest" : current_user.user_bio.username  %></p>

     <%= button_to "Sign Out", session_url, method: :delete %>
     <div class="current-project-dropdown">
       <p>Your Projects</p>
       <br>
       <ul>
         <% if !current_user.projects.empty? %>
           <% current_user.projects.each do |project| %>

             <li><a href="<%= project_url(project) %>"><%=  project.title %></a></li>

           <% end %>
         <% end %>

       </ul>
       <br>
       <p>Projects You Have Backed</p>
       <br>
       <ul>
         <% if !current_user.projects.empty? %>
           <% current_user.backed_projects.each do |project| %>

             <li><a href="<%= project_url(project) %>"><%=  project.title %></a></li>

           <% end %>
         <% end %>

       </ul>
     </div>
  </div>


  <% else %>

    <div class="user-tab group">
      <a href="<%= new_user_url %>" >Sign up</a>
      <a href="<%= new_session_url %>">Sign In</a>
    </div>

  <% end %>
</div>