<div class="show-main">

  <% if current_user.id == @project.user_id %>

    <a href="<%= edit_project_url(@project) %>">Edit This Project</a>
    <a href="<%= project_rewards_url(@project) %>">Edit Rewards</a>
    <a href="<%= edit_story_url(@project.story.id) %>">Edit Story</a>
     <%= button_to "Delete Project", project_url(@project), method: :delete %>
  <% end %>

  <head class="project-head group">
    <h2><%= @project.title %></h2>
    <a href=""><%= @project.user.user_bio.username %></a>
    <br>
    <a><%= @project.how_many_backers %> people have backed this project</a>
    <br>
    <a>$<%= @project.amt_pledged %> pledged of a <%= @project.fundinggoal %></a>
    <br>
    <a><%= @project.catagory_id %></a>
    <br>
    <h3>Our Story</h3>
    <a><%= @project.story.story %></a>
    <br>
    <h3>Challenges</h3>
    <a><%= @project.story.challenges %></a>

  </head>
</div>