<div class="modal" id="contact-modal">
  <div class="head-in-contact-modal">
    <h2>Send a message to: <%= project.escape('username') %></h2>
    <figure class="close-modal">&times;</figure>
  </div>
  <div class="body-in-contact-modal">
    <h2>To: <%= project.escape('username') %></h2>
    <form class="contact-form">
      <input type="hidden" name="message[from_user_id]" value="<%= KS.currentUserId %>">
      <input type="hidden" name="message[to_user_id]" value="<%= project.escape('user_id') %>">
      <input type="hidden" name="message[project_id]" value="<%= project.escape('id') %>">
      <textarea name="message[message]"></textarea>

      <a id="contact-send" class="submit">Send</a>
    </form>
  </div>
</div>
