<li class="project-thum-catagor-list">
  <a href="#/project/<%= project.escape('id') %>" class="project-thum-catagory-a">
    <img src="<%= project.escape('that_url') %>" >
    <h4><%= project.escape('title')%></h4>
    <h5>by <%= project.escape('username')%></h5>
    <p>
      <%= project.escape('description').slice(0,175) + "..."%>
    </p>

    <div class="percent-bar">
      <div class="color-container">
        <div class="green" style="left:<%= ((project.escape('percent_funded')/100) * 210) - 210 %>px"></div>
        <div class="gray"></div>
      </div>
    </div>
    <ul class="group">
      <li>
        <h4>
          % <%= project.escape('percent_funded') %>
        </h4>
        <p>
          funded
        </p>
      </li>

      <li>
        <h4>
          $ <%= project.escape('amt_pledged') %>
        </h4>
        <p>
          pledged
        </p>
      </li>

      <li>
        <h4>
          <%= project.escape('duration') %>
        </h4>
        <p>
          days to go
        </p>
      </li>
    </ul>
  </a>
</li>
