<!DOCTYPE html>
<html>
<head>
  <title>KickStarter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %>
  <ul>
  <% if flash[:errors] %>

    <% flash[:errors]. each do |error| %>

      <li><%= error %> error</li>

    <% end %>

  <% end %>
</ul>

<%= yield %>

</body>
</html>
