<!DOCTYPE html>
<html>
<head>
  <title>KickStarter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <main>
  <%= render 'shared/header_and_errors' %>
</main>
<div class="main-body"></div>
<%= yield %>

 <script>
  <% if logged_in? %>
    window.currentUserId = <%= current_user.id %>
    window.formAuth = "<%= form_authenticity_token %>"

  <% end %>


</script>
</body>
</html>
