<!DOCTYPE html>
<html>
<head>
  <title>KickStarter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
  <p class="user">Welcom <%= current_user.email%></p>
  <%= button_to "Sign Out", session_url, method: :delete %>
   <%= render "shared/bio_new_or_edit_link" %>
  <% else %>
    <a href="<%= new_user_url %>">Sign up</a>
    <a href="<%= new_session_url %>">Sign In</a>

  <% end %>
  <ul>
  <% if flash[:errors] %>

    <% flash[:errors]. each do |error| %>

      <li><%= error %> error</li>

    <% end %>

  <% end %>
</ul>

<%= yield %>

</body>
</html>
