<!DOCTYPE html>
<html>
<head>
  <title>KickStarter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <main>
  <%= render 'shared/header_and_errors' %>
</main>
<%= yield %>


</body>
</html>
